#root {
    width: 100%;
    text-align: center;
}
.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
}
img {
    width: 100%;
}
.dialog img {
    max-width: 50%;
    height: auto;
}

.dialog button {
    margin-top: 1rem;
}
form {
    max-width: 500px;
    margin: 0 auto;
}